PORT_SERVER=8000

DB_HOST=mysql
DB_PORT=3306
DB_USER=jurislink_app
DB_PASSWORD=senha_forte_do_usuario_da_aplicacao
DB_NAME=jurislink
MYSQL_ROOT_PASSWORD=senha_root_diferente_e_muito_forte

ACCESS_TOKEN_SECRET=coloque_uma_chave_segura_e_aleatoria_aqui_muito_longa

CORS_ORIGINS=https://seusite.com.br,https://www.seusite.com.br
