PORT_SERVER=8000

DB_HOST=mysql
DB_PORT=3306
DB_USER=root
DB_PASSWORD=sua_senha_forte_aqui
DB_NAME=jurislink

ACCESS_TOKEN_SECRET=coloque_uma_chave_segura_e_aleatoria_aqui_muito_longa

CORS_ORIGIN=https://seusite.com.br,https://www.seusite.com.br
