DB_HOST=host-interno-do-mysql-no-coolify
DB_PORT=3306
DB_USER=mysql
DB_PASSWORD=senha_do_usuario_normal_do_mysql
DB_NAME=jurislink

ACCESS_TOKEN_SECRET=coloque_uma_chave_segura_e_aleatoria_aqui_muito_longa

CORS_ORIGINS=https://seusite.com.br,https://www.seusite.com.br
